<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.zipplanet.domain.review.mapper.ReviewMapper">
    <insert id="create" parameterType="com.kh.zipplanet.domain.review.model.ReviewCreateRequest">
        insert into user_review(
        review_id,
        user_id,
        total_rate,
        trans_rate,
        manage_rate,
        infra_rate,
        life_rate,
        title,
        description,
        jibun,
        pos,
        floors_count,
        pyung_count,
        room_info,
        room_option,
        contract_type_id,
        start_date,
        end_date
        )
        values (
        seq_reviewid.nextval,
        #{userId},
        #{totalRate},
        #{transRate},
        #{manageRate},
        #{infraRate},
        #{lifeRate},
        #{title},
        #{description},
        #{jibun},
        #{pos},
        #{floorsCount},
        #{pyungCount},
        #{roomInfo},
        #{roomOption},
        #{contractTypeId},
        #{startDate},
        #{endDate}
        )
    </insert>

    <select id="searchByPos" resultType="com.kh.zipplanet.domain.review.model.ReviewVo">
        SELECT *
        FROM (
        SELECT a.*, ROWNUM as rnum
        FROM (
        SELECT *
        FROM user_review
        WHERE 1=1
        AND pos = #{pos}
        ORDER BY #{sort} DESC
        )
        a)
        WHERE rnum between #{offset} and  ( #{offset} + #{limit} - 1 )
    </select>

    <select id="searchByPosTotalCount">
        SELECT COUNT(*)
        FROM (
        SELECT a.*, ROWNUM as rnum
        FROM (
        SELECT *
        FROM user_review
        WHERE 1=1
        AND pos = #{pos}
        ORDER BY #{sort} DESC
        )
        a)
    </select>

    <select id="searchByKeyword" resultType="com.kh.zipplanet.domain.review.model.ReviewVo">
        SELECT *
        FROM (
        SELECT a.*, ROWNUM as rnum FROM (
        SELECT *
        FROM user_review
        WHERE 1=1
        AND jibun like '%' || #{keyword} || '%'
        ORDER BY #{sort} DESC
        )
        a)
        WHERE rnum between #{offset} and  ( #{offset} + #{limit} - 1 )
    </select>

    <select id="searchByKeywordTotalCount">
        SELECT COUNT(*)
        FROM (
        SELECT a.*, ROWNUM as rnum FROM (
        SELECT *
        FROM user_review
        WHERE 1=1
        AND jibun like '%' || #{keyword} || '%'
        ORDER BY #{sort} DESC
        )
        a)
    </select>

    <select id="searchByFilter" resultType="com.kh.zipplanet.domain.review.model.ReviewVo">
        SELECT *
        FROM (
        SELECT a.*, ROWNUM as rnum FROM (
        SELECT *
        FROM user_review
        WHERE 1=1
        <choose>
            <when test="gu != null and gu != ''">
                AND jibun like '%' || #{gu} || '%'
            </when>
        </choose>
        <choose>
            <when test="dong != null and dong != ''">
                AND jibun like '%' || #{dong} || '%'
            </when>
        </choose>
        <choose>
            <when test="contractTypeId != null and contractTypeId != ''">
                AND contract_type_id = #{contractTypeId}
            </when>
        </choose>
        AND total_rate between 0 and #{rate}
        ORDER BY #{sort} DESC
        )
        a)
        WHERE rnum between #{offset} and  ( #{offset} + #{limit} - 1 )
    </select>

    <select id="searchByFilterTotalCount" resultType="com.kh.zipplanet.domain.review.model.ReviewVo">
        SELECT COUNT(*)
        FROM (
        SELECT a.*, ROWNUM as rnum FROM (
        SELECT *
        FROM user_review
        WHERE 1=1
        <choose>
            <when test="gu != null and gu != ''">
                AND jibun like '%' || #{gu} || '%'
            </when>
        </choose>
        <choose>
            <when test="dong != null and dong != ''">
                AND jibun like '%' || #{dong} || '%'
            </when>
        </choose>
        <choose>
            <when test="contractTypeId != null and contractTypeId != ''">
                AND contract_type_id = #{contractTypeId}
            </when>
        </choose>
        AND total_rate between 0 and #{rate}
        ORDER BY #{sort} DESC
        )
        a)
        WHERE rnum between #{offset} and  ( #{offset} + #{limit} - 1 )
    </select>
    </mapper>